a {
    * {
        pointer-events: none;
    }

    &:focus {
        outline: 0;
    }
}

.component-section {
    padding: 30px 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
